.breeds-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.breeds-container .container-fluid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30%;
    align-items: center;
}

.container-fluid h3{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

.breeds-container .div-card {
    display: flex;
    width: 80%;
}

.breeds-container .card-container {
    width: 300px;
    min-width: 100px;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 8%;
    border-radius: 5%;
    box-shadow: 3px 5px 10px 1px rgba(0,0,0,0.253) !important;
}

.card-container:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.card-container .card-img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.btn {
    margin-top: 3%;
    width: 100%;
}

.overflow {
    overflow: hidden;
}

.card-img {
    transform: scale(1);
}

.card-img:hover {
    transform: scale(1.8);
    overflow: hidden;
}