.header-container {
    width: 100%;
    height: 80px;
    background: #8B8989;
    color: #FFF;
    position: fixed;
    margin-top: 0;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
}

.header-container a {
    text-align: center;
}

.header-container navbar-menu {
    display: flex;
    margin-right: 3%;
}