header {
    width: 100%;
    height: 80px;
    background: #8B8989;
    border-bottom: 2px solid rgba(0,0,0, 0.3);
    position: fixed;
    z-index: 3;
}

header .container-header {
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
}

header .logo {
    width: 180px;
    padding: 15px 0;
}

header .menu {
    width: 100%;
    height: 100%;
    color: #FFF;
    position: fixed;
    z-index: 3;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
}

header .menu a, .logo a {
    text-decoration: none;
    color: white;
}

header .logo a{
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
    text-transform: uppercase;
}

header .logo span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #EEE9E9;
    font-weight: lighter;
}

nav {
    display: none;
}

.one,
.two,
.three {
  background-color: #fff;
  height: 5px;
  width: 100%;
  margin: 6px auto;
  transition-duration: 0.3s;
}

.menu-toggle {
    width: 40px;
    height: 33px;
    margin-right: 0;
    cursor: pointer;
  }

/* fullscreen */
.menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.9);

    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-section.on nav {
    display: block;
  }

.menu-section.on .menu-toggle {
    position: absolute;
    right: 5%;
    top: 4%;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(9px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -7px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 30px;
    line-height: 40px;
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .menu-section.on nav ul a:hover {
    background: rgba(255,255,255, 0.15);
  }